/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Quicksand", sans-serif;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #289d7d;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 9999;
  padding: 20px 0;
  backface-visibility: hidden;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  margin-top: 15px;
  line-height: 0;
  font-family: "krinkes", sans-serif;
  font-size: 36px;
  color: #fff;
}

.header.header-scrolled .logo {
  color: #289d7d;
}

.header.header-scrolled .navbar a {
  color: #289d7d;
}

.header.header-scrolled .navbar a:hover {
  color: #134b3b;
}

.header.header-scrolled .navbar .signup a {
  color: #fff;
}

.header.header-scrolled .mobile-nav-toggle {
  color: #289d7d;
}

/* .header .logo img {
  max-height: 40px;
  margin-right: 6px;
} */

@font-face {
  font-family: "krinkes";
  src: url(../font/krinkes/KrinkesRegularPERSONAL.ttf);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #289d7d;
  white-space: nowrap;
  transition: 0.3s;
  /* text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #134b3b;
  text-shadow: none;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 40px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 500;
  color: #4a7280;
  text-shadow: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #f0b245;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.navbar a.btn-primary {
  background-color: #289d7d;
  border: none;
  position: relative;
  width: 100px;
  height: 40px;
  left: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.navbar a.btn-primary p {
  position: relative;
  right: 10px;
  top: 8px;
  color: #fff;
}

.navbar a.btn-primary:hover {
  color: #fff;
  background-color: #134b3b;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  z-index: 2;
}

.mobile-nav-toggle.bi-x {
  margin-top: 12px;
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  height: max-content;
  top: 75px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #289d7d;
}

.navbar-mobile a .wisata {
  margin: 0 auto;
  position: relative;
  left: 0 !important;
}

.navbar-mobile a .tools {
  margin: 0 auto;
  position: relative;
  left: -10px !important;
}

.navbar-mobile .login {
  margin: 0 15vh;
  position: relative;
  top: 40px;
  z-index: 999;
  width: fit-content;
}

.navbar-mobile .btn-primary {
  position: relative;
  left: 250px !important;
}

.navbar-mobile .btn-primary p {
  position: relative;
  left: 0;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #f0b245;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: -5px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 0px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
  visibility: visible;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #f0b245;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #134b3b;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin-top: 200px;
}

.hero {
  height: 100vh;
  width: 100%;
  margin-top: 0 !important;
  background: url(../img/bg-hero.png) no-repeat;
  background-size: cover;
}

.hero .container {
  margin-top: 200px !important;
}

.hero img {
  position: relative;
  top: -40px;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  /* color: #289d7d; */
  color: #fff;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.hero h5 {
  color: #fff;
  position: relative;
  top: -50px;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

.hero h6 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 800;
  /* color: #1f6b57; */
  color: #fff;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.hero ul {
  margin-left: -36px;
}

.hero ul li {
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.hero li img {
  border-radius: 10px;
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
}

@media (max-width: 768px) {
  .hero img {
    margin: 0 auto;
    margin-top: -100px;
  }

  .hero h1 {
    font-size: 28px;
    margin-top: 40px;
    text-align: center !important;
  }

  .hero h5 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    top: -100px;
    font-size: 28px;
    font-weight: 600;
  }

  .hero h6 {
    text-align: center !important;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 600;
  }

  .hero ul {
    margin-left: 35px;
  }
}

/*--------------------------------------------------------------
# Destinasi Wisata
--------------------------------------------------------------*/

.section-header p {
  position: relative;
  top: 2px;
  color: white;
}

.card {
  border-radius: 20px !important;
  height: 400px;
  width: 320px;
  border: none;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.2);
}

.card.primary {
  height: 450px;
  width: 360px;
  position: relative;
  top: -30px;
}

.card.primary .icon {
  margin: -40px 135px;
}

.card .icon {
  position: absolute;
  margin: -40px 120px;
}

.card img {
  border-radius: 20px !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-header p {
    position: relative;
    top: 2px;
    color: #289d7d;
    font-size: 40px;
  }

  .card.primary {
    height: 400px;
    width: 320px;
    position: relative;
    top: 0;
  }

  .card.primary .icon {
    margin: -40px 120px;
  }

  .card .icon {
    position: absolute;
    margin: -40px 120px;
  }
}

/*--------------------------------------------------------------
# Tentang Kami
--------------------------------------------------------------*/
.tentang-kami .flower3 {
  width: 700px;
  position: absolute;
  top: 180vh;
  right: 10vh;
  opacity: 0.1;
  z-index: -1;
  transform: scaleX(-1) rotate(10deg);
}

.tentang-kami {
  margin-top: -100px;
}

.tentang-kami header p {
  color: #289d7d;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: rgba(0, 0, 0, 0.05);
  padding: 0 0 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: black;
}

.footer .copyright .social-links a {
  font-size: 20px;
  display: inline-block;
  /* color: rgba(1, 41, 112, 0.5); */
  color: rgba(0, 0, 0, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .copyright .social-links a:hover {
  /* color: #289D7D; */
  color: black;
}

/*--------------------------------------------------------------
# Keranjang
--------------------------------------------------------------*/
.keranjang .flower3{
  width: 700px;
  position: absolute;
  top: 180vh;
  right: 15vh;
  opacity: 0.1;
  z-index: -1;
  transform: scaleX(-1) rotate(10deg);
}
.margin-keranjang {
  margin-top: 6rem!important;
  margin-bottom: 3rem!important;
}

.keranjang-header {
  color: #289D7D;
  text-align: Left;
  padding-bottom: 40px;
}

.keranjang-line {
  background: #289D7D;
  height: 2px;
  width: 18%;
}

.prim-color{
  color: #289D7D;
}

/*--------------------------------------------------------------
# Peralatan Hiking
--------------------------------------------------------------*/

.peralatan .flower3{
  width: 700px;
  position: absolute;
  top: 180vh;
  right: 15vh;
  opacity: 0.1;
  z-index: -1;
  transform: scaleX(-1) rotate(10deg);
}

.margin-peralatan {
  margin-top: 6rem!important;
  margin-bottom: 3rem!important;
}

.peralatan-header {
  color: #289D7D;
  text-align: Left;
  padding-bottom: 40px;
}

.card-peralatan {
  border-radius: 10px !important;
  height: 80px;
  width: 45%;
  border: none;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.2);
}

.card-peralatan-content {
  padding: 12px 12px;
}

/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/

#body-bg-checkout{
  background-color: #fdfdfd;
}

.checkout .flower3{
  width: 700px;
  position: absolute;
  top: 180vh;
  right: 15vh;
  opacity: 0.1;
  z-index: -1;
  transform: scaleX(-1) rotate(10deg);
}

.margin-checkout {
  margin-top: 6rem!important;
  margin-bottom: 3rem!important;
}